<div class="revelation-list-item columns is-centered">
  <div class="column is-narrow">
    <a href="{{ .Permalink }}" >
      <img
	alt="Small photograph of {{ .Params.name }}"
	src="{{ .Site.Params.cloudinary_url }}{{ .Params.portrait }}"
	class="portrait"
      >
    </a>
    <a class="person-name-link content is-large columns" href="{{ .Permalink }}">
      <div class="column is-narrow">
	<strong>{{ .Params.name }}</strong>
      </div>
      <div class="column is-offset-1">
	{{ .Params.status }}
      </div>
    </a>
  </div>
</div>
