@font-face {
  font-family: 'TrajanPro';
  font-style: normal;
  font-weight: normal;
  src: local('TrajanPro'), url('assets/TrajanPro.otf') format('truetype');
}

body {
    font-family: 'TrajanPro';
}
