{{ define "main" }}
{{ partial "common/small-header" }}
<section class="hero">
  <div class="has-text-centered hero-body">
    <h1 class="title is-size-1 is-family-secondary has-text-weight-light">{{ .Params.name }}</h1>
  </div>
</section>

<section class="section columns is-centered">
  <figure class="image column is-narrow">
    <img 
      alt="Portrait of {{ .Params.name }}"
      src="{{ .Site.Params.cloudinary_url }}/{{ .Params.portrait }}"
      class="portrait"
    >
  </figure>
</section>

{{ partial "revelations/single/dossier" .Params }}

<section class="section columns is-centered">
  <article class="column is-10 content is-size-3">{{ .Content }}</article>
</section>
{{ end }}
