<section class="columns is-centered">
  <div class="dossier column is-8">
    <table class="table content is-italic">
      <tbody class="is-size-6">
	{{ if ne .occupation ""}}
	  <tr>
	    <td>Occupation:</td>
	    <td>{{ .occupation }}</td>
	  </tr>
	{{ end }}
	{{ if ne .occupation "" }}
	  <tr>
	    <td>Located:</td>
	    <td>{{ .located }}</td>
	  </tr>
	{{ end }}
	{{ if ne .born "" }}
	  <tr>
	    <td>Born:</td>
	    <td>{{ .born }}</td>
	  </tr>
	{{ end }}
	{{ if ne .upbringing "" }}
	  <tr>
	    <td>Upbringing:</td>
	    <td>{{ .upbringing }}</td>
	  </tr>
	{{ end }}
	{{ if ne .status "" }}
	  <tr>
	    <td>Status:</td>
	    <td>{{ .status }}</td>
	  </tr>
	{{ end }}
      </tbody>
    </table>
  </div>
</section>
