<section class="columns is-centered">
  <div class="dossier column is-8">
    <table class="table content is-italic">
      <tbody class="is-size-5">
	<tr>
	  <td>Occupation:</td>
	  <td>{{ .occupation }}</td>
	</tr>
	<tr>
	  <td>Located:</td>
	  <td>{{ .located }}</td>
	</tr>
	<tr>
	  <td>Born:</td>
	  <td>{{ .born }}</td>
	</tr>
	<tr>
	  <td>Upbringing:</td>
	  <td>{{ .upbringing }}</td>
	</tr>
	<tr>
	  <td>Status:</td>
	  <td>{{ .status }}</td>
	</tr>
      </tbody>
    </table>
  </div>
</section>
