@font-face {
  font-family: "TrajanPro";
  src: url("fonts/TrajanPro.otf");
}

$family-primary: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
$family-secondary: TrajanPro;

$hero-body-padding: 0px;
$table-cell-border: none;
$table-background-color: transparent;

$grey-dark: #676767;
$grey-light: #D9D9D9;
$grey-lighter: #DEDEDE;

@import "./node_modules/bulma/bulma.sass";

div.revelation-list-item {
  padding: 30px 0 30px 0;
}

div.promised-land-list-item {
  padding: 30px 0 30px 0;
}

div.contact-footer-decoration {
  border-top: 1px solid #DDD;
  padding-top: 120px;
  height: 200px;
}

.button.see-more {
  margin-top: 4rem;
}

a.small-header-anchor {
  color: $grey-light;
}

a.person-name-link {
  color: $grey-dark;
}

div.dossier {
  border: 1px solid $grey-lighter;
  border-radius: 0.5rem;
  margin-top: 4rem;
}

