/* GLOBAL */ 
@font-face {
  font-family: "TrajanPro";
  src: url("fonts/TrajanPro.otf");
}

$family-primary: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$family-secondary: TrajanPro;

$hero-body-padding: 0px;

body {
  background-color: #FFFEFE;
}

div.revelation-list-item {
  padding: 30px 0 30px 0;
}

/* HOMEPAGE: PROMISED LAND */
section#promised-land-top-picks-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


div#promised-land-top-picks-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10rem;
}

div.promised-land-photo-container {
  margin: 0 0 6rem 0;
}

img.promised-land-photo {
  width: 90vw;
}

span.promised-land-photo-caption {
  font-size: 1rem;
}

@import "./bulma/bulma.sass"
