@font-face {
  font-family: "TrajanPro";
  src: url("fonts/TrajanPro.otf");
}

body { 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

h1#homepage-title { 
  font-family: "TrajanPro";
  font-size: 5rem;
  text-align: center;
}

header#homepage-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

p, article {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.7rem;
}

div#homepage-blurb-container {
  background-color: red;
  width:  45vw;
}

img.homepage-thumbnail {
  height: 100px;
}

img.portrait {
  max-width: 100vw;
}

