@font-face {
  font-family: "TrajanPro";
  src: url("fonts/TrajanPro.otf");
}

h1, h2, h3, h4, h5, h6, title { 
  font-family: TrajanPro;
}

p, article, a {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
